.side {
    height: 100vh;
    text-align: center;
    padding-top: 30px;
}

li {
    margin-bottom: 5px;
    background-color: #3f4549;
    height: 50px;
}

li:hover {
    background-color: #454b50;
}

.nav-link {
    color: white;
}
